
@font-face {
    font-family: Itc-avant-garde-gothic;
    src: url(../fonts/itc-avant-garde-gothic-std-book-59610d4cbdcf6.otf);
}
body {
	font-size:12px;
	font-family: Itc-avant-garde-gothic;
	text-align: left;
}
ul, p, ol, p, h1, h2, h3 {
	margin:0px;
	padding:0px;
}
li {
	list-style-type:none;
}
.noPadding {
  padding-left:0px;
  padding-right:0px;
}
.Header .logoContainer {
	width:100%;
	/*background:#333;*/
	color:#fff;
  padding-left: 0!important;
  padding-right: 0!important;
  position: relative;  
}
.Header .logoContainer.clone {
    position:fixed;
    top:-65px;
    left: 0;
    right: 0;
    z-index:999;
    transition:0.4s top cubic-bezier(.3,.73,.3,.74);
    background:#333;
    padding-top:5px;
    padding-bottom:5px;
}
body.down .Header .logoContainer.clone {
    top:0;
}
.Header .logoContainer li a{
	color:#fff;
	font-size:14px;
  padding:0px;
  /*padding-left:0px;
  padding-right:0px;*/
  margin-left:15px;
  margin-right:15px;
  margin-top:25px;
}

.Header .logoContainer li a:hover, .Header .logoContainer li.active a:hover {
	color:#ffffff;
  background:none;
  border-bottom:solid 2px #fff;
}


.Header h1.homeBanner {
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*text-transform: uppercase;*/
  color: #fff;
  width: 100%;
  text-align: center;
  padding-left: 0!important;
  padding-right: 0!important;
  font-size: 6em;
  background-image:url(../images/elephant.jpg);
  padding-top:243px;
  padding-bottom:243px;
}
.logo {
  width:70px;
  height:53px;
  background-image:url(../images/logo.png);
  margin-left:13px;
  display:inline-block;
  padding-left:77px;
  padding-top:16px;
  font-size:27px;
  background-repeat: no-repeat;
}
/*.mainContainer {
	background:#ccc;
}*/
/*.photoPlaceHolder {
	height:200px;
	background:#999;
	margin-top:10px;
	margin-bottom:10px;
}*/
.photoPlaceHolder:hover {
  width:100%;
  height:100%;
  background:#000000;
  opacity: 0.6;
}
.aboutus {
  line-height: 20px;
  background:#e4e4e4;
}
/*.aboutImg {
  width:100%;
  background-image:url(../images/about.png);
  display:inline-block;
}*/
.title {
  background:#333;
  color:#fff;
}
.footer {
  background:#333;
  color:#fff;
  padding-top:15px;
  padding-bottom:15px;
}